/* LAYOUT */
body{
    background-image: linear-gradient(to bottom,#00bfa5 15%,white 15%,white 100%);
    height: 100vh;
}

main{
    height: 90vh;
}

#root{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* MENU SECTION */
.user-menu{
    display: flex;
    align-items: center;
}

.image{
    display: flex;
    align-items: center;
    height: 60px;
}

/* immagine profilo */
.user-image{
    border-radius: 50%;
    height: 40px; 
 }
 





.section-layout{
    display: flex;
    align-items: center;
}

h6{
    display: inline;
}

.color-gray{
    color: gray;
}

/* icona notifiche */
.notification-image{
    border-radius: 50%;
    height: 40px; 
    width: 40px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CONTATTI */
 #contacts{
     height: 80%;
} 



/* MESSAGGIO DA INVIARE*/
.text{
    width: 100%;
    margin: 5px 10px;
    height: 40px;
    border-radius: 7px;
    padding: 5px;
}


#chats{
    background-image: url(../img/mine.jpg);
    height: calc(100vh - 200px);;
}


.message{
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: rgba(90, 240, 90, 0.959);
    padding: 10px 5px;
    margin: 10px 0;
}
.my.message{
    background-color: rgba(90, 240, 90, 0.959);
}

.other.message{
    background-color: #fff;
}