body{
    background-color: lightgrey;
    height: 100vh;
}


.r{
    height: calc(100vh - 100px);
    margin: 50px 0;
}

/* altezza della sezione */
.h-standard{
    height: 50px;
}

/* immagine profilo */
.user-image{
   border-radius: 50%;
   height: 40px; 
}

.section-layout{
    display: flex;
    align-items: center;
}

h6{
    display: inline;
}

.color-gray{
    color: gray;
}

/* icona notifiche */
.notification-image{
    border-radius: 50%;
    height: 40px; 
    width: 40px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CONTATTI */
 #contacts{
     height: 80%;
} 

