body{
    background-color: lightgrey;
}

main{
    margin: 50px 0;
}

.menu{
    height: calc(100vh - 100px);
}

/* altezza della sezione */
.h-standard{
    height: 50px;
}

/* immagine profilo */
.user-image{
   border-radius: 50%;
   height: 40px; 
}

.section-layout{
    display: flex;
    align-items: center;
}

h6{
    display: inline;
}

.notification-image{
    border-radius: 50%;
    height: 40px; 
    width: 40px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}



